<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-chatbot.ZPM">
    <Module>
      <Name>iris-chatbot</Name>
      <Version>1.0.0</Version>
      <Description>An example of how to implement a chatbot app using IRIS in the backend</Description>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>webterminal</Name>
          <Version>4.9.2</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Telegram.PKG"/>
      <Resource Name="dc.chatbot.PKG"/>
      <UnitTest Name="/src" Package="UnitTest" Phase="test"/>
    </Module>
  </Document>
</Export>
